<!-- /sections/section-blog.liquid -->

{%- liquid
  if blog == blank
   assign blog = blogs[section.settings.blog_name]
  endif
  assign blog_title = section.settings.title
  assign bg_color = section.settings.bg_color
  assign text_color = section.settings.color
  assign show_featured_posts = section.settings.use_featured_posts
  assign heading_size_class = section.settings.heading_size | prepend: 'heading-size-'
  assign articles_per_row = section.settings.grid
  assign columns_medium = 3
  if articles_per_row == 2 or articles_per_row == 4
    assign columns_medium = 2
  endif
  assign is_blog_page = false
-%}

{%- style -%}
  #Blog--{{ section.id }} {
    --PT: {{ section.settings.padding_top }}px;
    --PB: {{ section.settings.padding_bottom }}px;
  @media screen and (max-width: 480px) {
       --PT: {{ settings.padding_top_mb }}px;
        --PB: {{ settings.padding_bottom_mb }}px;
    }
    {%- unless bg_color == 'rgba(0,0,0,0)' or bg_color == blank -%}
      --bg: {{ bg_color }};
    {%- endunless -%}

    {%- unless text_color == 'rgba(0,0,0,0)' or text_color == blank -%}
      --text: {{ text_color }};
      --text-light: {{ text_color | color_mix: settings.bg_color, 70 }};
    {%- endunless -%}

    --COLUMNS: {{ articles_per_row }};
    --COLUMNS-MEDIUM: {{ columns_medium }};
  }
{%- endstyle -%}

<section
  id="Blog--{{ section.id }}"
  class="{% if section.settings.custom_class != blank %}{{ section.settings.custom_class  }}{% endif %} {{ section.settings.width }} blog-section section-padding"
  data-section-id="{{ section.id }}"
  data-section-type="blog"
>
  {% if blog_title != blank %}
    <h2 class="reviews-slider__heading">
      <a href="{{ blog.url | default: '#' }}">{{ blog_title }}</a>
    </h2>
  {% endif %}
  {% if section.settings.sub_title != blank %}
    <div class="reviews-slider__content">{{ section.settings.sub_title }}</div>
  {% endif %}
  {% if section.settings.button_text != blank or section.settings.section_heading != blank %}
    <div class="custom_button_section_wrapper">
      {% if section.settings.section_heading != blank %}
        <div class="custom_button_text">
          <h5>{{ section.settings.section_heading }}</h5>
        </div>
      {% endif %}
      {% if section.settings.button_text != blank %}
        <div class="custom_button_text_button">
          <a class="btn btn--solid btn--primary" href="{{ section.settings.button_link }}">
            {{- section.settings.button_text -}}
          </a>
        </div>
      {% endif %}
    </div>
  {% endif %}
  {%- liquid
    if show_featured_posts == false
      assign blog_articles = blog.articles | sort: "published_at" | reverse
    endif
    assign articles_per_row = section.settings.grid
    assign article_limit = articles_per_row | times: section.settings.rows
    assign show_author = section.settings.show_author
    assign show_date = section.settings.show_date
    assign show_button = section.settings.show_button
    assign show_tags = section.settings.show_tags
    assign show_comments = section.settings.show_comments
    assign title_size_class = section.settings.title_size | prepend: 'heading-size-'
    assign aspect_ratio = 1 | divided_by: section.settings.aspect_ratio
    assign onboarding = true
    assign animation_anchor = '#Blog--' | append: section.id
    assign animation_duration = 800
    assign animation_order = 0

    if is_blog_page
      assign onboarding = false
    endif

    if show_featured_posts == false and section.settings.blog_name != blank and blog.articles.size > 0
      assign onboarding = false
      assign blog_articles = blog.articles | sort: "published_at" | reverse
    endif

    if show_featured_posts == true and section.blocks.size > 0
      assign onboarding = false
      for block in section.blocks
        assign article_in_array = articles[block.settings.featured_post] | sort
        assign blog_articles = blog_articles | concat: article_in_array
      endfor
      assign blog_articles = blog_articles | sort: "published_at" | reverse
    endif
  
    assign eager_images_limit = articles_per_row
    if articles_per_row > 3
      assign eager_images_limit = articles_per_row | times: 2
    endif
  -%}

  <div class="grid-outer">
    <div class="grid section-blog blog-listing">
      {%- if onboarding -%}
        {%- for i in (1..article_limit) -%}
          {%- assign animation_order = animation_order | plus: 1 -%}
          <article class="article article--onboarding grid-item">
            <div class="article__image__outer">
              <div class="article__image svg-placeholder">
                <a class="article__image-link"
                  href="#"
                  aria-label="Article title"
                  data-aos="img-in"
                  data-aos-anchor="{{ animation_anchor }}"
                  data-aos-order="{{ animation_order }}"
                  data-aos-duration="{{ animation_duration }}"
                  data-aos-easing="ease-out-quart">
                  <div class="image-wrapper" style="--aspect-ratio: {{ aspect_ratio }};">
                    {{ 'image' | placeholder_svg_tag }}
                  </div>
                </a>
                {%- if show_tags -%}
                  <div class="article__tags">
                    <span class="article__tag">tag</span><span class="article__tag">tag</span>
                  </div>
                {%- endif -%}
              </div>
            </div>
            <div class="article__text-wrapper"
              data-aos="hero"
              data-aos-anchor="{{ animation_anchor }}"
              data-aos-order="{{ animation_order }}"
              data-aos-duration="{{ animation_duration }}">
              <h2 class="article__title {{ title_size_class }}">
                <a href="#" title="Article title">Blog post title</a>
              </h2>
              <p class="article__meta">
                {%- if show_date -%}
                  <time datetime="{{ 'now' | date: format: 'full_date' }}">{{ 'now' | date: format: 'full_date' }}</time>
                {%- endif -%}
                {%- if show_author -%}
                  <span class="article__meta__author">by Author Name</span>
                {%- endif -%}
                {%- if show_comments and article.comments_count > 0 -%}
                  <span class="comment-count">{{ 'blogs.comments.comments_with_count' | t: count: article.comments_count }}</span>
                {%- endif -%}
              </p>
              <p class="article__excerpt">Once you create a blog post, the content will appear here. It will display the first few lines of text here or a summary of the post that could be added from the Excerpt section in Blog posts editor.</p>
              {%- if show_button -%}
                <div class="article__link">
                  <a href="#" class="btn btn--text" aria-label="{{ 'blogs.article.read_more' | t }}">
                    <span>{{ 'blogs.article.read_more' | t }}</span>
                  </a>
                </div>
              {%- endif -%}
            </div>
          </article>
        {%- endfor -%}
      {%- else -%}
        {%- for article in blog_articles limit: article_limit -%}
          {%- liquid
            assign animation_order = animation_order | plus: 1
            if forloop.index > eager_images_limit
              assign loading = 'lazy'
            endif
          -%}
          {%- capture tags -%}
            {%- if article.tags.size > 0 and show_tags -%}
              <div class="article__tags">
                {%- for tag in article.tags limit: 3 -%}
                  <a href="{{ blog.url }}/tagged/{{ tag | handle }}" title="{{ blog.title }} tagged {{ tag | escape }}" class="article__tag">{{ tag }}</a>
                {%- endfor -%}
              </div>
            {%- endif -%}
          {%- endcapture -%}
          <article class="article grid-item">
            <div class="article__link_image_text_wrapper">
              {%- if article.image -%}
                <div class="article__image__outer">
                  <div class="article__image">
                    <a class="article__image-link" href="{{ article.url }}" aria-label="{{ article.title | strip_html | escape }}">
                      {%- capture sizes -%}
                        (min-width: 990px) calc((100vw - 100px) / {{ section.settings.grid }}), (min-width: 750px) calc((100vw - 60px) / 3), calc(100vw - 32px)
                      {%- endcapture -%}
                      {%- capture attributes -%}
                        data-aos="img-in"
                        data-aos-anchor="{{ animation_anchor }}"
                        data-aos-order="{{ animation_order }}"
                        data-aos-duration="{{ animation_duration }}"
                        data-aos-easing="ease-out-quart"
                      {%- endcapture -%}
                      {%- render 'image' image: article.image, widths: '250, 280, 360, 480, 560, 640, 720, 840, 960, 1280, 1440, 1600, 1840, 2100, 2400', sizes: sizes, aspect_ratio: aspect_ratio, loading: loading, attributes: attributes, show_backfill: true -%}
                    </a>
                    {{ tags }}
                  </div>
                </div>
              {%- else -%}
                {{ tags }}
              {%- endif -%}
              <div class="article__text-wrapper"
                data-aos="hero"
                data-aos-anchor="{{ animation_anchor }}"
                data-aos-order="{{ animation_order }}"
                data-aos-duration="{{ animation_duration }}">
                <p class="article__meta">
                  {%- if show_date -%}
                    {%- assign published_at = article.published_at | date: format: 'full_date' -%}
                    <time datetime="{{ published_at }}">{{ published_at }}</time> 
                  {%- endif -%}
                </p>
                <h2 class="article__title {{ title_size_class }}">
                  <a href="{{ article.url }}" title="{{ article.title | strip_html | escape }}">
                    {{ article.title }}
                  </a>
                </h2>
                {%- if show_date or show_author or show_comments -%}
                  <p class="article__meta">
                    {%- if show_comments and article.comments_count > 0 -%}
                      <span class="comment-count">{{ 'blogs.comments.comments_with_count' | t: count: article.comments_count }}</span>
                    {%- endif -%}
                  </p>
                {%- endif -%}
                <a href="{{ article.url }}"><p class="article__excerpt">{{ article.excerpt_or_content | strip_html | truncatewords: 30 }}</p></a>
                {% if article.metafields.custom.author_name.value != blank %}
                  <p class="article__meta__author cstm__metafieldtxt">Written By: {{ article.metafields.custom.author_name.value }}</p>
                {% endif %}
                {% if article.metafields.custom.reviewed_by_author.value != blank %}
                  <p class="article__meta__reviewer cstm__metafieldtxt">Reviewed By: {{ article.metafields.custom.reviewed_by_author.value }}</p>
                {% endif %}
                {%- if show_button -%}
                  <div class="article__link">
                    <a href="{{ article.url }}" class="btn btn--text" aria-label="{{ 'blogs.article.read_more' | t }}">
                      <span>{{ 'blogs.article.read_more' | t }} - {{ article.metafields.custom.minute_read_time }} min</span>
                    </a>
                  </div>
                {%- endif -%}
              </div>
            </div>
          </article>
        {%- endfor -%}
      {%- endif -%}
    </div>
  </div>
</section>
<script>
   $(document).ready(function(){
   if (window.innerWidth < 768 && window.innerWidth < 460) {
     
  $('.custom-sliderformb--jtpl').slick({
    infinite: true,
    centerMode: true,
    centerPadding: 0,
    slidesToShow: 1,
    slidesToScroll: 1,
    dots: false,
    arrows:false,
    adaptiveHeight: true
   
  });

     $('.blog-listing.section-blog').slick({
      infinite: true,
      slidesToShow: 1,
      slidesToScroll: 1,
      dots: false,
      arrows: true,
      prevArrow: `<div class="slick-prev">{% render 'slider-prev-arrow' %}</div>`,
      nextArrow: `<div class="slick-next">{% render 'slider-next-arrow' %}</div>`
    });
    }
     });
</script>
{% schema %}
  {
    "name": "Blog posts",
    "settings": [
      {
        "type": "text",
        "id": "custom_class",
        "label": "Custom Class",
      "info": "This is used only for the backend purpose.Please don't change it."
      },
      {
        "type": "checkbox",
        "id": "use_featured_posts",
        "label": "Use featured posts",
        "default": false
      },
      {
        "type": "blog",
        "id": "blog_name",
        "label": "Blog"
      },
      {
        "type": "richtext",
        "id": "title",
        "label": "Heading"
      },
       {
        "type": "text",
        "id": "sub_title",
        "label": "Sub Heading"
     },
      {
        "type": "text",
        "id": "section_heading",
        "label": "Text"
     },
      {
        "type": "text",
        "id": "button_text",
        "label": "Button Text"
     },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button link"
     },
      {
        "type":  "range",
        "id": "heading_size",
        "label": "Heading size",
        "min": 1,
        "max": 15,
        "step": 1,
        "default": 5
      },
      {
        "type": "header",
        "content": "Layout"
      },
      {
        "type": "select",
        "id": "width",
        "label": "Width",
        "default": "wrapper--full-padded",
        "options": [
          {"value": "wrapper--full", "label": "Full width"},
          {"value": "wrapper--full-padded", "label": "Full width padded"},
          {"value": "wrapper", "label": "Normal"}
        ]
      },
      {
        "type":    "range",
        "id":      "grid",
        "min":     1,
        "max":     4,
        "step":    1,
        "label":   "Articles per row",
        "default": 4
      },
      {
        "type":    "range",
        "id":      "rows",
        "min":     1,
        "max":     5,
        "step":    1,
        "label":   "Number of rows",
        "default": 1
      },
      {
        "type": "header",
        "content": "Articles"
      },
      {
        "type": "range",
        "id": "aspect_ratio",
        "min": 0.5,
        "max": 1.5,
        "step": 0.1,
        "unit": ":1",
        "label": "Article image aspect ratio",
        "info": "Wide to tall",
        "default": 1
      },
      {
        "type":  "range",
        "id": "title_size",
        "label": "Title size",
        "min": 1,
        "max": 15,
        "step": 1,
        "default": 4
      },
      {
        "type": "checkbox",
        "id": "show_tags",
        "label": "Show tags",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "show_author",
        "label": "Show author",
        "default": false
      },
      {
        "type": "checkbox",
        "id":"show_read_minute",
        "label": "Show read minutes",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_date",
        "label": "Show date",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "show_button",
        "label": "Show 'Read more' button",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "show_comments",
        "label": "Show comment count",
        "default": false
      },
      {
        "type": "header",
        "content": "Colors"
      },
      {
        "type": "color",
        "id": "bg_color",
        "label": "Background"
      },
      {
        "type": "color",
        "id": "color",
        "label": "Text"
      },
      {
        "type": "header",
        "content": "Section padding"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Padding top",
        "default": 32
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Padding bottom",
        "default": 0
      },
      {
        "type": "header",
        "content": "Mobile"
      },
      {
  "type": "checkbox",
  "id": "show_slider",
  "label": "Show slider",
  "default": true
}

    ],
    "blocks": [
      {
        "type": "featured_post",
        "name": "Featured post",
        "settings": [
          {
            "type": "article",
            "id": "featured_post",
            "label": "Featured post"
          },
          {
            "type": "text",
            "id": "subheading",
            "label": "Subheading",
            "default": "Featured post"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image",
            "info": "Optional: replace the article featured image."
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Blog posts",
        "category": "Text",
        "blocks": [
          {
            "type": "featured_post"
          }
        ]
      }
    ],
    "disabled_on": {
      "groups": ["header", "aside", "footer"]
    }
  }
{% endschema %}
